{% extends 'base.html' %}

<body>
<!--::client logo part end::-->

	{% block content %}
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-8">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h1>Be The First!</h1>
                                <p>Want in on the VALORANT Closed Beta? Get a Riot account, link it with a Twitch account, and watch streams for a chance to get in.  Or if you are not patient like us, simply click the install now link in the upper right hand corner!</p>
                                <a href="/download_page" class="btn_1">Install Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->
	{% endblock %}
</body>

