<!DOCTYPE html>

<head>
    <title> WARNING WARNING THIS IS A FAKE PHISHING WEBSITE </title>
</head>

<body>
    <h2> IF YOU STUMBLED HERE ACCIDENTALLY PLEASE READ BEFORE CONTINUING </h2>
    <p> The following website is an intentionally designed phishing website for a university course.  It is hosted live only with the intention to be used by the class instructor, there is malware embedded into this website that can harm your computer.</p>
    <br>
    <p> If your name is not Sammie Bush do not enter the Super Secret Key</p>
    <p> The secret key is 'Instructor'</p>
    <form action="/home" method="post">
      <input type="text" name="key"></input>
      <input type="submit" value="Super Secret Key"></input>
    </form>
</body>

